$common-border : 1px;
$radius : 22px;
$space: 20px;
$transition_time : 0.3s;
$transition_ease : ease-out;

$menu_height_small : 185px;
$menu_height_big : 200px;

$global-shadow-size : 10px;
$main-shadow : 0px 10px 50px 0px rgba(0,0,0,0.4);

/*
 * Vars
 */
// $max-width : 1000px;
// $max-width-large : 1400px;//use for example in header menu

$transition_time : 0.3s;
$transition_ease : ease-out;